body{
    background: grey;
}
.row{
    background: lightblue;
    padding: 0px;
    height: 100px;
    margin-bottom: 20px;
}

img{
    width: 200px;
}

.nav{
    padding-top: 30px;
    font-family: 'McLaren', cursive;
}

.nav-link{

    color: white;
}

.container{
    background: whitesmoke;
}
form{
    text-align: center;
    padding: 20px;
}
 .form-group{
    padding: 40px;
    margin: 20px;
}

#submit{
    font-size: 26px;
    margin: 0 auto;
    font-family: 'McLaren', cursive;
}