.row{
    background: lightblue;
    padding: 0px;
    height: 100px;
    margin-bottom: 20px;
}

img{
    width: 200px;
}

.nav{
    padding-top: 30px;
    font-family: 'McLaren', cursive;
}

.nav-link{

    color: white;
}

form{
    margin: 0 auto;
    font-family: 'McLaren', cursive;
}

body {
    background-image: url("images/clouds.jpg");
    background-position: static; 
    background-size: cover;
}



